<!-- Modal -->
<article>
  <form [formGroup]="myFormRegister" class="form-group" (ngSubmit)="onSubmit()" autocomplete="off">
    <!-- Nombre -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">Name</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="studentName" placeholder="Name">
        <!-- <span *ngIf="isValidField('name')" class="form-text text-danger">
                It must be in first and last name format
              </span> -->
      </div>
    </div>
    <!-- Apellidos -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">Last name</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="studentLastName" placeholder="Last name">
        <!-- <span *ngIf="isValidField('name')" class="form-text text-danger">
                    It must be in first and last name format
                  </span> -->
      </div>
    </div>
    <!-- Clase -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">Student class</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="studentClass" placeholder="Student class">
        <!-- <span *ngIf="isValidField('name')" class="form-text text-danger">
                        It must be in first and last name format
                      </span> -->
      </div>
    </div>

    <!-- Email -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">Email</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="studentEmail" placeholder="xxxxx@xxxxx.xxx">
        <!-- <span *ngIf="isValidField('name')" class="form-text text-danger">
                    It must be in first and last name format
                  </span> -->
      </div>
    </div>

    <!-- DNI -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">DNI</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="studentDni" placeholder="XXXXXXXXL">
        <!-- <span *ngIf="isValidField('name')" class="form-text text-danger">
                        It must be in first and last name format
                      </span> -->
      </div>
    </div>

    <!-- Año nacimiento -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">Birthdate</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="studentBirthdate" placeholder="yyyy-mm-dd">
        <!-- <span *ngIf="isValidField('name')" class="form-text text-danger">
                    It must be in first and last name format
                  </span> -->
      </div>
    </div>
  </form>

</article>
<footer>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="newStudentRegister()">Save student</button>
  </div>
</footer>
