<!-- Modal -->
<article>
  <form [formGroup]="myFormRegister" class="form-group" (ngSubmit)="onSubmit()" autocomplete="off">
    <!-- Name -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">Name</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="studentName" placeholder="Name" value=>
        <span *ngIf="isValidField('studentName')" class="form-text text-danger">
          It must be correct name format
        </span>
      </div>
    </div>
    <!-- Last name -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">Last name</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="studentLastName" placeholder="Last name">
        <span *ngIf="isValidField('studentLastName')" class="form-text text-danger">
          It must be correct last name format
        </span>
      </div>
    </div>
    <!-- Class name -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">Student class</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="studentClass" placeholder="Student class">
        <span *ngIf="isValidField('studentClass')" class="form-text text-danger">
          It must be correct class format Ex. 2n ESO A
        </span>
      </div>
    </div>

    <!-- Email -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">Email</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="studentEmail" placeholder="xxxxx@xxxxx.xxx">
        <span *ngIf="isValidField('studentEmail')" class="form-text text-danger">
          The email has an incorrect format Ex. xxx@xxx.xxx
        </span>
      </div>
    </div>

    <!-- DNI -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">DNI</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="studentDni" placeholder="XXXXXXXXL">
        <span *ngIf="isValidField('studentDni')" class="form-text text-danger">
          The DNI has an incorrect format Ex. XXXXXXXXL
        </span>
      </div>
    </div>

    <!-- Birthdate -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">Birthdate</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="studentBirthdate" placeholder="yyyy-mm-dd">
        <span *ngIf="isValidField('studentBirthdate')" class="form-text text-danger">
          It must be correct date format YYYY-MM-DD
        </span>
      </div>
    </div>
  </form>

</article>
<footer>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
    <button *ngIf="showButton" type="button" class="btn btn-success" data-bs-dismiss="modal"
      (click)="newStudentRegister()">Save student</button>
  </div>
</footer>
