<!-- Modal -->
<article>
  <form autocomplete="off">

    <!-- Nombre -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">Nombre</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="text" class="form-control" formControlName="name" placeholder="Nombre del usuario">
        <!-- <span *ngIf="isValidField('name')" class="form-text text-danger">
                It must be in first and last name format
              </span> -->
      </div>
    </div>

    <!-- Email -->
    <div class="row mb-3">
      <label class="col-lg-3 col-form-label">Email</label>
      <div class="col-md-9 col-lg-12 w-100">
        <input type="email" class="form-control" formControlName="email" placeholder="Email del usuario">
        <!-- <span *ngIf="isValidField('email')" class="form-text text-danger">
                The email has an incorrect format ex. xxx@xxx.xx
              </span> -->
      </div>
    </div>
  </form>

</article>
<footer>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-success">Save student</button>
  </div>
</footer>
