/* You can add global styles to this file, and also import other style files */
.hardBlue{
  background-color:#83A2FF;
}

.blue{
  background-color:#c0daf5 ;
}

.yellow{
  background-color:#FFE3BB ;
}

.hardYellow{
  background-color:#FFD28F;
}

